

<div id="page-content">

    <div id="slides-container">

        <div id="slides"
            data-0="transform:translate(0%,0%);"
            data-150p="transform:translate(0%,-50%);"
            data-200p=""
            data-300p="transform:translate(-50%,-50%);"
            data-350p=""
            data-450p="transform:translate(-50%,0%);">

            <div id="slide-1" class="slide">

                <div class="caption"
                    data-40p="opacity: 1; transform:translate(0px,0px);"
                    data-70p="opacity: 0; transform:translate(0px,-100%);"
                    data-anchor-target="#helper">
                                
	                            <h1>Welcome to my website.</h1>
	                            <p>Portland based web devloper with Ruby on Rails skills.</p>

                </div>
            </div>

            <div id="slide-2" class="slide">


                <div class="caption1"
                    data-130p="opacity: 0; transform:translate(0px,-200%);"
                    data-180p="opacity: 1; transform:translate(0px,0px);"
                    data-250p=""
                    data-280p="opacity: 0; transform:translate(-100px,0px);"
                    data-anchor-target="#helper">

                    <div class="black">
                 	   <h1>ME</h1>
                    	<p>Aspiring full stack web developer, my mission as an emerging developer is to find ways to help everyone else on my team do better work and to look for learning opportunities in every task and interaction, no matter how big or small with humility and curiosity. 

                        <p>After developing a successful sales career, I found myself in a position looking to expand my horizons. Having worked in the technology and telecommunications industries, I instantly took to web development and with my communication and problem solving skills, found it to be rewarding.</p>
                        <p>
                        My newly acquired technical skills paired with my presentations skills present me the ability to not only create an app that looks as good as it functions, but to be able to convey the information to the client explaining the feature/benefit relationship of each art of the app. </p>

                        <p>As the son of two teachers, I am continually looking to expand my knowledge base from Bootstrap to Foundation, PHP to Python, and from Old German to Pliny the Elder and I will use this to produce applications the both look as good as they function.</p>
                        <p>
                        I look forward to hearing from you and as always if you have any questions, or just want to chat, drop me a line.</p>
                        </p>
                	</div>
                </div>
            </div>
            <div id="slide-3" class="slide">
                <div class="caption"
                    data-250p="opacity: 0; transform:translate(300px,0px);"
                    data-300p="opacity: 1; transform:translate(0px,0px);"
                    data-anchor-target="#helper"
                >
                    <h1 class="yellowtext">Interests:</h1>
                    <p class="yellowtext">Interests</p>
                </div>
            </div>
            <div id="slide-4" class="slide">
                <div class="caption"
                    data-430p="opacity: 0;"
                    data-450p="opacity: 1;"
                    data-anchor-target="#helper"
                >
                     <div class="white">
                        <h1>Contact info</h1>
                        <p>paul.ogawa AT gmail.com</p>
                        <p><%= link_to image_tag("lindex.png", width: 40, height: 40 ), "http://www.linkedin.com/in/paulogawa/" %></p>
                        <p><%= link_to image_tag("index.png", width: 40, height: 40 ), "http://www.github.com/pogawa/" %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="helper">
        <div class="marker red"></div>
        <div class="marker green"></div>
        <div class="marker blue"></div>
        <div class="marker yellow"></div>
    </div>
</div>

<!-- Include Skrollr.js -->
<script src="js/skrollr.min.js"></script>
<script type="text/javascript">
    var s = skrollr.init();
</script>


