<section class="module parallax parallax-1">
  <div class="container">
    <h1 class="left">Paul Ogawa</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>So glad you could come!!</h2>

    <p>
      Majestic mountain vistas and a verdant, tranquil setting nestled among expansive, bounteous vineyards are yours to enjoy as guests of Finca Ogawa — our little corner of Valle de Uco, a place of ever-growing renown as one of the eight great wine-producing regions of the world.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.
    
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.

      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.

      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.
      </p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1 class="left">About Me</h1>
    <br><br><br>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <pLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.

    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.
</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1 class="left">Selected works</h1>
  </div>
</section>

<section class="module content inline">
  <ul class="inline">
    <li> <%=link_to image_tag("index.png"), 'http://www.yahoo.com/' %> </li>
    <li> <%=link_to image_tag("index.png"), 'http://www.yahoo.com/' %> </li>
    <li> <%=link_to image_tag("index.png"), 'http://www.yahoo.com/' %> </li>
    <li> <%=link_to image_tag("index.png"), 'http://www.yahoo.com/' %> </li>
    <br><br><br><br><br><br><br>
    </ul>
  </div>
</section>
